swagger: '2.0'
info:
  version: "2.0.0"
  title: 'Bisnode Company Risk and Credit Data API'
  description: |
        Bisnode Company Risk and Credit Data API
  contact:
    email: api-support@bisnode.com
security:
  - OAuth2: 
    - credit_data_companies
host: sandbox-api.bisnode.com
basePath: /credit-data-companies/v2

paths:
  /companies:
    post:
      summary: Basic search on registrationNumber, dunsNumber and/or name.
      description: |
        A simple search on companies. Either registrationNumber, dunsNumber or name must be supplied. Country must also be set in the request.
      parameters:
        - in: body
          name: SearchRequest
          schema:
            $ref: '#/definitions/SearchRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SearchResponse'
        '400':
          description: Bad request - invalid input.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Error definition
          schema:
            $ref: '#/definitions/Error'
            
  /companies/se:
    post:
      produces:
        - application/json
        - application/pdf
      summary: Fetch credit and risk data on a swedish company
      description: |
        Fetch risk and credit data on swedish companies.
        To get a pdf representation of the data set the Accept header to 'application/pdf'.
      parameters:
        - in: body
          name: RequestModel
          schema:
            $ref: '#/definitions/RequestModel'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SwedishResponseModel'
        '400':
          description: Bad request - invalid input.
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Company not found.
          schema:
            $ref: '#/definitions/Error'
        '451':
          description: Even though the company exist we can't deliver any data due to legal reasons.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Error definition
          schema:
            $ref: '#/definitions/Error'
  /companies/se/annual-reports:
    post:
      summary: List all the annual reports available on a swedish company
      description: |
        List all the annual reports available on a swedish company
      parameters:
        - in: body
          name: RequestModel
          schema:
            $ref: '#/definitions/AnnualReportSearchRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AnnualReportSearchResponse'
        '400':
          description: Bad request - invalid input.
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Company not found.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Error definition
          schema:
            $ref: '#/definitions/Error'
  /companies/{country}/annual-reports/{id}:
    get:
      parameters:
        - in: path
          name: id
          type: string
          required: true
          description: annual report id
        - in: path
          name: country
          type: string
          required: true
          description: |
            "Supported countries: se,fi,dk"
      produces:
        - application/pdf
        - application/json
      summary: Fetch the annual report with the given id
      description: |
        Download a pdf using the id from a previous search.
        To get a pdf representation of the data set the Accept header to 'application/pdf'.
      responses:
        '200':
          description: OK
          schema:
            type: file
        '400':
          description: Bad request - invalid input.
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Not found.

          schema:
            $ref: '#/definitions/Error'
        default:
          description: Error definition
          schema:
            $ref: '#/definitions/Error'
  /companies/fi:
    post:
      produces:
        - application/json
        - application/pdf
      summary: Fetch credit and risk data on a finnish company
      description: |
        Fetch risk and credit data on finnish companies.
        To get a pdf representation of the data set the Accept header to 'application/pdf'.
      parameters:
        - in: body
          name: RequestModel
          schema:
            $ref: '#/definitions/RequestModel'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FinnishResponseModel'
        '400':
          description: Bad request - invalid input.
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Company not found.
          schema:
            $ref: '#/definitions/Error'
        '451':
          description: Even though the company exist we can't deliver any data due to legal reasons.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Error definition
          schema:
            $ref: '#/definitions/Error'
  /companies/fi/annual-reports:
    post:
      summary: List all the annual reports available on a finnish company
      description: |
        List all the annual reports available on a finnish company
      parameters:
        - in: body
          name: RequestModel
          schema:
            $ref: '#/definitions/AnnualReportSearchRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AnnualReportSearchResponse'
        '400':
          description: Bad request - invalid input.
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Company not found.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Error definition
          schema:
            $ref: '#/definitions/Error'
  /companies/dk:
    post:
      produces:
        - application/json
        - application/pdf
      summary: Fetch credit and risk data on a danish company
      description: |
        Fetch risk and credit data on danish companies.
        To get a pdf representation of the data set the Accept header to 'application/pdf'.
      parameters:
        - in: body
          name: RequestModel
          schema:
            $ref: '#/definitions/RequestModel'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DanishResponseModel'
        '400':
          description: Bad request - invalid input.
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Company not found.
          schema:
            $ref: '#/definitions/Error'
        '451':
          description: Even though the company exist we can't deliver any data due to legal reasons.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Error definition
          schema:
            $ref: '#/definitions/Error'
  /companies/dk/annual-reports:
    post:
      summary: List all the annual reports available on a danish company
      description: |
        List all the annual reports available on a danish company
      parameters:
        - in: body
          name: RequestModel
          schema:
            $ref: '#/definitions/AnnualReportSearchRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AnnualReportSearchResponse'
        '400':
          description: Bad request - invalid input.
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Company not found.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Error definition
          schema:
            $ref: '#/definitions/Error'
  /companies/no:
    post:
      produces:
        - application/json
        - application/pdf
      summary: Fetch credit and risk data on a norwegian company
      description: |
        Fetch risk and credit data on norwegian companies.
        To get a pdf representation of the data set the Accept header to 'application/pdf'.
      parameters:
        - in: body
          name: RequestModel
          schema:
            $ref: '#/definitions/RequestModel'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/NorwegianResponseModel'
        '400':
          description: Bad request - invalid input.
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Company not found.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Error definition
          schema:
            $ref: '#/definitions/Error'
securityDefinitions:
   OAuth2:
    type: oauth2
    flow: accessCode
    authorizationUrl: 'https://login.bisnode.com/as/token.oauth2'
    tokenUrl: https://example.com/oauth/token
    scopes:
      credit_data_companies: allows access to Bisnode risk and credit data
definitions:
    AnnualReportSearchRequest:
      type: object
      description: Model for annual report search
      properties:
        registrationNumber:
          type: string
          description: The registration number / organisation number
          example: 1010101010
    AnnualReportSearchResponse:
      type: object
      description: Search response model
      properties:
        annualReports:
          type: array
          items:
            $ref: '#/definitions/AnnualReport'
    AnnualReport:
      type: object
      description: Annual report model
      properties:
        typeCode:
          type: string
          enum: ['N', 'K', 'D']
          description: |
            "N - Normal period
             K - annual report for the group
             D - part of the year"
        id:
          type: string
          description: The id for this report, to be used when fetching the report
        startDate:
          $ref: "https://api.swaggerhub.com/domains/bisnode-apis/DateModel/1.0.0#/components/schemas/DateModel"
        endDate:
          $ref: "https://api.swaggerhub.com/domains/bisnode-apis/DateModel/1.0.0#/components/schemas/DateModel"
        link:
          $ref: '#/definitions/Link'
    Link:
      type: object
      properties:
        href:
          type: string
          description: Link to the report
          example: /companies/se/annual-reports/2312i3y1h-123123
    SearchResponse:
      type: object
      description: |
        Searchmodel. The order in the list will always be best matches first. 
      properties:
        companies:
          type: array
          description: List of companies
          items:
            "$ref": "#/definitions/CompanyOverview"
        _paging:
          "$ref": '#/definitions/Paging' 
      title: SearchResponse
    CompanyOverview:
      type: object
      properties:
        name:
          type: string
          description: The name of the company
        country:
          type: string
          description: 'Country code as described in: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2'
          example: 'SE'
        registrationNumber:
          type: string
          description: The national registrationNumber for this company.
          example: '5564855582'
        dunsNumber:
          type: string
          description: 'Dun & Bradstreet D-U-N-S® Number. https://www.dnb.com/duns-number/get-a-duns.html'
        active:
          type: boolean
          description: Is this company active?
          example: true
        headQuarter:
          type: boolean
          description: Is this a headquarter? False means that this is a branch.
          example: false
        address:
          $ref: 'https://api.swaggerhub.com/domains/bisnode-apis/CommonCreditModel/2.0.0#/components/schemas/StreetAddress'
        legalForm:
          type: string
          enum: ['LIMITED_COMPANY', 'SOLE_PROPRIETORSHIP', 'PARTNERSHIP', 'OTHER']
          description: |
              LegalForm of this company
      title: CompanyOverview
    SearchRequest:
      type: object
      description: Search input.
      properties:
        offset:
          type: integer
          format: int32
          description: A positive number telling how many hits should be skipped. A value of 2 will skip the first 2 results that matched the search criteria. limit + offset can not exceed 10000.
          minimum: 0
          maximum: 10000
          default: 0
        limit: 
          type: integer
          format: int32
          description: The number of hits per call, a value of 0 means only hitcount is returned.
          minimum: 0
          default: 20
          maximum: 200
        name:
          type: string
          description: The name of the company
          example: 'Bisnode AB'
        registrationNumber:
          type: string
          description: The national registrationNumber for this company.
          example: '5564855582'
        includeInactive:
          type: boolean
          description: 'Set to true to include inactive companies'
          default: false
        dunsNumber:
          type: string
          description: 'Dun & Bradstreet D-U-N-S® Number. https://www.dnb.com/duns-number/get-a-duns.html'
          example: '427813563'
        includeBranches:
          type: boolean
          description: 'Set to true to include branches in the results'
          default: false
        country:
          type: string
          description: The country to search in
          enum: ['SE', 'FI', 'DK', 'NO']
        address:
          $ref: 'https://api.swaggerhub.com/domains/bisnode-apis/CommonCreditModel/2.0.0#/components/schemas/StreetAddress'
      required: ['country']
    RequestModel:
      type: object
      description: The request model for credit data
      properties:
        registrationNumber: 
          type: string
          description: A national registrationNumber, can be a socialSecurityNumber for a Sole proprietor
        reference:
          type: string
          description: Freetext for own use. Text will be shown on report and invoice.
        onBehalfOf:
          type: string
          description: Only to be used when ordering on behalf of someone else. This text will be displayed on the letter of notification.
        language:
          type: string
          enum: ['SV', 'EN', 'NO', 'DA', 'FI']
          description: Supported languages for all the description fields where i18n is supported
          default: EN
        segments:
          type: array
          items:
            type: string
            enum: ['RISK', 'FINANCE', 'MANAGEMENT', 'OWNERSHIP', 'EVENTS', 'COMPANY_INFORMATION']
          description: |
            See below the possible segments per country.
            NO and SE
              Allowed segments - RISK, FINANCE, MANAGEMENT, OWNERSHIP, EVENTS and COMPANY_INFORMATION.
            DK and FI
              Allowed segments - RISK, FINANCE, MANAGEMENT, OWNERSHIP and COMPANY_INFORMATION.
              
              Note that COMPANY_INFORMATION is always included in the response. If no segments are given then all are returned.
    DanishResponseModel:
      $ref: 'https://api.swaggerhub.com/domains/bisnode-apis/DanishCompanyCreditModel/2.0.0#/components/schemas/DanishCompanyData'
    FinnishResponseModel:
      $ref: 'https://api.swaggerhub.com/domains/bisnode-apis/FinnishCompanyCreditModel/2.0.0#/components/schemas/FinnishCompanyData'
    SwedishResponseModel:
      $ref: 'https://api.swaggerhub.com/domains/bisnode-apis/SwedishCompanyCreditModel/2.0.0#/components/schemas/SwedishCompanyData'
    NorwegianResponseModel:
      $ref: 'https://api.swaggerhub.com/domains/bisnode-apis/NorwegianCompanyCreditModel/2.0.0#/components/schemas/NorwegianCompanyData'
    Paging:
      $ref: 'https://api.swaggerhub.com/domains/bisnode-apis/Paging/1.0.0#/components/schemas/Paging'
    Error:
      $ref: 'https://api.swaggerhub.com/domains/bisnode-apis/ErrorModel/1.0.0#/components/schemas/ErrorModel'
schemes:
 - https