swagger: '2.0'
info:
  version: "2.0.0"
  title: 'Company Risk and Credit data API'
  description: |
        Bisnode Company risk and credit data API
      
    
        Since we don't want to expose any personally identifiable information (PII) parameters in the URL,
        GET requests with search params is not supported.
        
        All decimals are with max 2 fraction digits, unless otherwise stated in the description for that field.
        
        This API tries to adhere to the Bisnode Restful API guidelines,
  contact:
    email: api-bisnode@bisnode.com
security:
  - OAuth2: 
    - credit_data_companies
host: sandbox-api.bisnode.com
basePath: /credit-data-companies/v2

paths:
  /companies:
    post:
      summary: Basic search on registrationNumber, dunsNumber and/or name.
      description: |
        A simple search on companies. Either registrationNumber, dunsNumber or name must be supplied. Country must also be set in the request.
      parameters:
        - in: body
          name: SearchRequest
          schema:
            $ref: '#/definitions/SearchRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SearchResponse'
        '400':
          description: Bad request - invalid input.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Error definition
          schema:
            $ref: '#/definitions/Error'
            
  /companies/se:
    post:
      summary: Fetch credit and risk data on a swedish company
      description: |
        Fetch risk and credit data on swedish companies
      parameters:
        - in: body
          name: RequestModel 
          schema:
            $ref: '#/definitions/RequestModel'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SwedishResponseModel'
        '400':
          description: Bad request - invalid input.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Error definition
          schema:
            $ref: '#/definitions/Error'
  /companies/fi:
   post:
     summary: Fetch credit and risk data on a finnish company
     description: |
       Fetch risk and credit data on finnish companies
     parameters:
      - in: body
        name: RequestModel
        schema:
          $ref: '#/definitions/RequestModel'
     responses:
      '200':
        description: OK
        schema:
          $ref: '#/definitions/FinnishResponseModel'
      '400':
        description: Bad request - invalid input.
        schema:
          $ref: '#/definitions/Error'
      default:
        description: Error definition
        schema:
          $ref: '#/definitions/Error'
  /companies/dk:
    post:
      summary: Fetch credit and risk data on a danish company
      description: |
       Fetch risk and credit data on danish companies
      parameters:
        - in: body
          name: RequestModel
          schema:
            $ref: '#/definitions/RequestModel'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DanishResponseModel'
        '400':
          description: Bad request - invalid input.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Error definition
          schema:
            $ref: '#/definitions/Error'
securityDefinitions:
   OAuth2:
    type: oauth2
    flow: accessCode
    authorizationUrl: 'https://login.bisnode.com/as/token.oauth2'
    tokenUrl: https://example.com/oauth/token
    scopes:
      credit_data_companies: allows access to Bisnode risk and credit data
definitions:
    SearchResponse:
      type: object
      description: |
        Searchmodel. The order in the list will always be best matches first. 
      properties:
        companies:
          type: array
          description: List of companies
          items:
            "$ref": "#/definitions/CompanyOverview"
        _paging:
          "$ref": '#/definitions/Paging' 
      title: SearchResponse
    CompanyOverview:
      type: object
      properties:
        name:
          type: string
          description: The name of the company
        country:
          type: string
          description: 'Country code as described in: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2'
          example: 'SE'
        registrationNumber:
          type: string
          description: The national registrationNumber for this company.
          example: '5564855582'
        dunsNumber:
          type: string
          description: 'Dun & Bradstreet D-U-N-S® Number. https://www.dnb.com/duns-number/get-a-duns.html'
        active:
          type: boolean
          description: Is this company active?
          example: true
        headQuarter:
          type: boolean
          description: Is this a headquarter? False means that this is a branch.
          example: false
        address:
          $ref: 'https://api.swaggerhub.com/domains/bisnode-apis/CommonCreditModel/2.0.0#/components/schemas/StreetAddress'
      title: CompanyOverview
    SearchRequest:
      type: object
      description: Search input.
      properties:
        offset:
          type: integer
          format: int32
          description: A positive number telling how many hits should be skipped. A value of 2 will skip the first 2 results that matched the search criteria. limit + offset can not exceed 10000.
          minimum: 0
          maximum: 10000
          default: 0
        limit: 
          type: integer
          format: int32
          description: The number of hits per call, a value of 0 means only hitcount is returned.
          minimum: 0
          default: 20
          maximum: 200
        name:
          type: string
          description: The name of the company
          example: 'Bisnode AB'
        registrationNumber:
          type: string
          description: The national registrationNumber for this company.
          example: '5564855582'
        includeInactive:
          type: boolean
          description: 'Set to true to include inactive companies'
          default: false
        dunsNumber:
          type: string
          description: 'Dun & Bradstreet D-U-N-S® Number. https://www.dnb.com/duns-number/get-a-duns.html'
          example: '427813563'
        includeBranches:
          type: boolean
          description: 'Set to true to include branches in the results'
          default: false
        country:
          type: string
          description: The country to search in
          enum: ['SE', 'FI', 'DK']
        address:
          $ref: 'https://api.swaggerhub.com/domains/bisnode-apis/CommonCreditModel/2.0.0#/components/schemas/StreetAddress'
      required: ['country']
    RequestModel:
      type: object
      description: The request model for credit data
      properties:
        registrationNumber: 
          type: string
          description: A national registrationNumber, can be a socialSecurityNumber for a Sole proprietor
        reference:
          type: string
          description: Freetext for own use. Text will be shown on report and invoice.
        onBehalfOf:
          type: string
          description: Only to be used when ordering on behalf of someone else. This text will be displayed on the letter of notification.
        language:
          type: string
          enum: ['SV', 'EN', 'NO', 'DA', 'FI']
          description: Supported languages for all the description fields where i18n is supported
          default: EN
    DanishResponseModel:
      $ref: 'https://api.swaggerhub.com/domains/bisnode-apis/DanishCompanyCreditModel/2.0.0#/components/schemas/DanishCompanyData'
    FinnishResponseModel:
      $ref: 'https://api.swaggerhub.com/domains/bisnode-apis/FinnishCompanyCreditModel/2.0.0#/components/schemas/FinnishCompanyData'
    SwedishResponseModel:
      $ref: 'https://api.swaggerhub.com/domains/bisnode-apis/SwedishCompanyCreditModel/2.0.0#/components/schemas/SwedishCompanyData'
    NorwegianResponseModel:
      $ref: 'https://api.swaggerhub.com/domains/bisnode-apis/NorwegianCompanyCreditModel/2.0.0#/components/schemas/NorwegianCompanyData'
    Paging:
      $ref: 'https://api.swaggerhub.com/domains/bisnode-apis/Paging/1.0.0#/components/schemas/Paging'
    Error:
      $ref: 'https://api.swaggerhub.com/domains/bisnode-apis/ErrorModel/1.0.0#/components/schemas/ErrorModel'
schemes:
 - https